.area_jogo{
  background-color: gainsboro;
  width: 500px;
  height: 350px;
  margin:0;
}
.barra_status{
  padding-top:5px;
  width: 100%;
  background-color: lightblue;

}
.coracao{
  display: inline-block;
  font-size: 20pt;
}
.personagem{
  font-size: 40px;
  position: absolute;
  top: 30px;
  left: 0px;
}

.bola{
 background-color: orangered;
 width: 10px;
 height: 10px;
 border-radius: 15px;
 display: inline-block;
 position: absolute;
 left:calc(0px - 10px);
 top:50;
 transition-duration: 1s;
}
.bola_esquerda{
  left:calc(500px - 10px);
}